{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 80,
	"plugins": ["prettier-plugin-svelte"],
	"tabWidth": 4,
	"semi": true,
	"arrowParens": "always",
	"bracketSpacing": true,
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
